{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<div class="img-acceuil">
			<img src="/images/acceuil.jpg" class="rounded-pill">
			<div class="home-title">
				<h1 class="home-title-h1">Burger Tech<br>News HighTech<br>Et... WTF</h1>
			</div>
		</div>
		<div class="container text-center">
			<div class="row justify-content-center">	
				{% for epi in episode %}
				{% set edit = path ('episode_edit', {'slug': epi.slug}) %}
					<div class="card col-lg-5 col-sm-11 m-1 ">
						<div class="card-title">
							<h3>{{ epi.title }}</h3>
						</div>
						<div>
							<img src="{{ epi.coverImage }}" class="card-img-top" alt="Cover image">
						</div>
						<div class="card-body">
							<div>
								<p>{{ epi.introduction }}</p>
							</div>
							<div class="card-date">
								<time>Publié le : {{ epi.createdAt | date('d/m/Y') }}</time>
							</div>
							<div class="card-audio">
								<audio controls preload="none">
									<source src="{{ epi.audio }}">
								</audio>
							</div>
							<div class="card-btn">
								<a href="{{ path('episode_detail', {'slug': epi.slug})}}" class="btn-infos btn rounded-pill">Toute les infos</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ edit }}" class="btn-edit btn rounded-pill">Modifier</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="full-episode">
				<a href="{{ path('episode_index') }}" class="btn justify-content-md-center m-3 rounded-pill">Voir et écouter tout les épisodes</a>
			</div>	
		</div>
	</div>
{% endblock %}
