{% extends 'base.html.twig' %}

{% block body %}
	<div class="dark">
		<div class="img-acceuil">
			<img src="/images/acceuil.jpg">
			<div class="home-title">
				<h1 class="home-title-h1">Apéro des<br>Papas Manchots</h1>
			</div>
		</div>
		<div class="text-center">
			<h1>Les Derniers épisodes</h1>
		</div>
		<div class="container">
			<div class="row">	
				{% for epi in episode %}
				{% set edit = path ('episode_edit', {'slug': epi.slug}) %}
					<div class="container">
						<h1 class="h1 text-center" id="pageHeaderTitle"></h1>
						<article class="postcard dark">
							<a class="postcard__img_link" href="{{ path('episode_detail', {'slug': epi.slug})}}">
								<div class="postcard__img-container">
									<div class="mx-auto">
										<img class="postcard__img" src="{{ epi.coverImage }}" alt="Image Title" />
									</div>
								</div>
							</a>
							<div class="postcard__text">
								<h1 class="postcard__title"><a href="#">{{ epi.title }}</a></h1>
								<div class="postcard__subtitle small">
								<i class="fa-solid fa-calendar-days"></i>
									<i class="fa-solide fa-calendar-days mr-2">{{ epi.createdAt | date('d/m/Y') }}</i>
								</div>
								<div class="postcard__preview-txt mt-3">{{ epi.introduction }}</div>
								<div class="postcard__tagbox">
									<audio class="col-6 mt-3" controls preload="none">
										<source src="{{ epi.audio }}">
									</audio>
								</div>
								<div class="card-btn text-center col-6">
									<a href="{{ path('episode_detail', {'slug': epi.slug})}}" class="btn-infos btn rounded-pill">Toute les infos</a>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ edit }}" class="btn-edit btn rounded-pill">Modifier</a>
									{% endif %}
								</div>
							</div>
						</article>
					</div>
				{% endfor %}
			</div>
			<div class="full-episode text-center">
				<a href="{{ path('episode_index') }}" class="btn justify-content-md-center m-3 rounded-pill">Voir et écouter tous les épisodes</a>
			</div>	
		</div>
	</div>
{% endblock %}
