{% extends 'base.html.twig' %}

{% block body %}
	<body>
		<div class="home-img container mt-3 position-relative">
			<img src="/photos/acceuil.jpg" class="img-fluid h-25 rounded-pill"><img>
			<div >
				<h1 class="home-title">Burger Tech<br>News HighTech<br>Et... WTF</h1>
			</div>
		</div>
		<main class="container text-center">
			<section class="row justify-content-md-center">
				{% for epi in episode %}
				{% set edit = path ('episode_edit', {'slug': epi.slug}) %}
					<div class="card m-5 border-secondary rounded-bottom border-2" style="width: 25rem; height:49rem">
						<div style="height: 110px">
							<h4 class="card-title mt-3">{{ epi.title }}</h4>
						</div>
						<div>
							<img src="{{ epi.coverImage }}" class="card-img-top" alt="Cover image">
						</div>
						<div class="card-body">
							<div>
								<p class="card-text mt-3">{{ epi.introduction }}</p>
							</div>
							<div class="mt-3">
								<time>Publié le : {{ epi.createdAt | date('d/m/Y') }}</time>
							</div>
							<div class="mt-3">
								<audio class:"" controls preload="none">
									<source src="{{ epi.audio }}">
								</audio>
							</div>
							<div class="mt-5">
								<a href="{{ path('episode_detail', {'slug': epi.slug})}}" class="btn btn-primary ms-4">Plus d'infos</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ edit }}" class="btn btn-warning ms-5">Modifier</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				<div>
					<a href="{{ path('episode_index') }}" class="btn btn-success justify-content-md-center m-3 rounded-pill">Voir et écouter tout les épisodes</a>
				</div>	
			</section>
		</main>
	</body>
{% endblock %}
