{% extends 'base.html.twig' %}

{% block body %}
	<div class="dark">
		<div class="img-acceuil">
			<img src="/images/acceuil.jpg">
			<div class="home-title">
				<h1 class="home-title-h1">Apéro des<br>Papas Manchots</h1>
			</div>
		</div>
		<div class="text-center">
			<h1>Les Derniers épisodes</h1>
			<h2>Des news, du geekage, du linux et de l'open source</h2>
		</div>
		<div class="container">
			<div class="row">	
				{% for epi in episode %}
				{% set edit = path ('episode_edit', {'slug': epi.slug}) %}
					<div class="container">
						<h3 class="h1 text-center" id="pageHeaderTitle"></h3>
						<article class="postcard dark">
							<a class="postcard__img_link" href="{{ path('episode_detail', {'slug': epi.slug})}}">
								<div class="postcard__img-container">
									<div class="col-sm-12 col-lg-6">
										<img class="w-100 postcard__img" src="{{ epi.coverImage }}" alt="Image Title" />
									</div>
								</div>
							</a>
							<div class="postcard__text">
								<h1 class="postcard__title">{{ epi.title }}</h1>

									<img src="/icons/calendar.png" class="m-1" alt="Calendrier">{{ epi.createdAt | date('d/m/Y') }}

								<div class="postcard__preview-txt mt-3">{{ epi.introduction }}</div>
								<div class="postcard__tagbox">
									<audio class="col-sm-12 mx-auto col-lg-6 mt-3" controls preload="none">
										<source src="{{ epi.audio }}">
									</audio>
								</div>
								<div class="card-btn text-center col-6 mx-auto mt-3 mb-5">
									<a href="{{ path('episode_detail', {'slug': epi.slug})}}" class="btn-infos btn rounded-pill">Toute les infos</a>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ edit }}" class="btn-edit btn rounded-pill">Modifier</a>
									{% endif %}
								</div>
							</div>
						</article>
					</div>
				{% endfor %}
			</div>
			<div class="full-episode text-center">
				<a href="{{ path('episode_index') }}" class="btn justify-content-md-center m-3 rounded-pill">Voir et écouter tous les épisodes</a>
			</div>	
		</div>
	</div>
{% endblock %}
