<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>L'apéro des papas manchots !</title>
        <link>{{ hostname }}</link>
        <description>Podcast</description>
        <language>fr-FR</language>

        {% for url in urls %}
            <item>
                {% if url.title is defined %}
                    <title>{{ url.title }}</title>
                {% else %}
                    <title>Titre par défaut</title>
                {% endif %}

                {% if url.images is defined %}
                    <p>{{ url.images }}</p>
                {% else %}
                    <p>La variable `episode.coverImage` n'est pas définie.</p>
                {% endif %}

                {% if url.content is defined %}
                    <description>{{ url.content }}</description>
                {% else %}
                    <description>Défault</description>
                {% endif %}
                

                {% if url.audio is defined %}
                    <enclosure url="{{ url.audio }}" length="1" type="audio/mpeg" />
                {% endif %}
            </item>
        {% endfor %}
    </channel>
</rss>
