<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
    <channel>
        <title>L'apéro des papas manchots !</title>
        <link>{{ hostname }}</link>
        <description>Podcast</description>
        <language>fr-FR</language>

        <itunes:category text="Technology" />
        <itunes:image href="https://nsm09.casimages.com/img/2023/10/10//23101012042424921118272290.png" />
        <itunes:explicit>no</itunes:explicit>

        {% for url in urls %}
            <item>
                <title>{{ url.title }}</title>
                <link>{{ url.loc }}</link>
                <pubDate>{{ url.pubDate | date('r') }}</pubDate>
                <description>{{ url.content }}</description>
                <enclosure url="{{ url.audio }}" length="1" type="audio/mpeg" bitrate="128000" />
            </item>
        {% endfor %}
    </channel>
</rss>
