<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
    <channel>
        <title>L'apéro des papas manchots !</title>
        <link>{{ hostname }}</link>
        <description>Le podcast traitant de Linux et de l'open source</description>
        <language>fr-FR</language>

        <itunes:category text="Technology" />
        <itunes:image href="https://nsm09.casimages.com/img/2023/10/10//23101012042424921118272290.png" />
        <itunes:author>Donkluivert et John Guecko</itunes:author>
        <itunes:keywords>linux,opensource,librebloguelinux</itunes:keywords>
        <itunes:owner>
            <itunes:email>donkluivert@yahoo.fr</itunes:email>
            <itunes:name>Donkluivert et John Guecko</itunes:name>
        </itunes:owner>
        {% for url in urls %}
            <item>
                <itunes:explicit>yes</itunes:explicit>
                <title>{{ url.title }}</title>
                <link>{{ url.loc }}</link>
                <guid>{{ url.loc }}</guid>
                <pubDate>{{ url.pubDate | date('r') }}</pubDate>
                <description><![CDATA[{{ url.content }}]]></description>
                <itunes:summary><![CDATA[{{ url.content }}]]></itunes:summary>
                <enclosure url="{{ url.audio }}" length="{{ url.length }}" type="audio/mpeg" />
            </item>
        {% endfor %}
    </channel>
</rss>
