<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
    <channel>
        <title>L'apéro des papas manchots !</title>
        <link>{{ hostname }}</link>
        <description>Podcast</description>
        <language>fr-FR</language>

        <itunes:category text="Technology" />
        <itunes:image href="https://is1-ssl.mzstatic.com/image/thumb/Podcasts125/v4/cb/26/c2/cb26c230-7ce5-28bb-3026-b38ae3c75ad4/mza_3550348621292114387.png/1200x600wp.png" />
        <itunes:explicit>no</itunes:explicit>

        {% for url in urls %}
            <item>
                <title>{{ url.title }}</title>
                <link>{{ url.loc }}</link>
                <pubDate>{{ url.pubDate | date('r') }}</pubDate>
                <description>{{ url.content }}</description>
                <enclosure url="{{ url.audio }}" length="1" type="audio/mpeg" />
            </item>
        {% endfor %}
    </channel>
</rss>
