{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="card">    
            <div class="card m-5">
                <img src="{{ episode.coverImage }}" class="card-img-top" style="width: 25rem" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ episode.title }}</h5>
                    <p class="card-text">{{ episode.introduction }}</p>
                    <audio controls>
                        <source src="{{ episode.audio }}">
                    </audio>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" class="btn btn-warning ms-5">Modifier</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2>Liste des commentaires</h2>
                {% for comment in episode.comments %}
                    <p>Publier par {{ comment.author }}</p>                  
                    <div>
                        <p>{{ comment.content | raw }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="card m-5" style="width: 25rem;" id="ajout-commentaire">
                <h2>Ajouter un commentaire</h2>
                {{ form(commentForm) }}
            </div> 
    </main>
{% endblock %}
