{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row mt-5 mb-3">
        	{% set url = path ('episode_edit', {'slug': episode.slug}) %}
			<div class="text-center col-lg-6 col-sm-12">
				<img class="card-img-detail" src="{{ episode.coverImage }}" alt="...">
			</div>
            <div class="mt-4 col-lg-6 col-sm-12 text-center ">
                <div class="">
                    <h4>{{ episode.title }}</h4>
                </div>
                <div class="episode-title">
                    <p>{{ episode.introduction }}</p>
                </div>
                <div class="">
                    <audio controls>
                        <source class="col-lg-6" src="{{ episode.audio }}">
                    </audio>
                </div>
                <div class="episode-content">
                    <p>{{ episode.content }}</p>
                </div>
                <div class="text-end mt-5">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url }}" class="btn btn-warning">Modifier</a>
                    {% endif %}
                </div>
            <div>
		</div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center mt-5">
                <h2 class="">Liste des articles de l'épisode</h2>
            </div>   
            {% for articles in episode.article %}
            <div class="text-center card col-lg-3 border m-3 p-3 col-sm-12 ">
                <p>{{ articles.title }}</p>
                <div> 
                    <a href="{{ articles.url }}" target="_blank" class="btn btn-primary">Voir l'article</a>
                </div> 
            </div>
            {% endfor %}
        </div>
                    {# Commentaire #}
        <div class="col-12 mt-3">
            <div class="card text-center col-lg-6 col-sm-11 mx-auto mb-3">                 
                {% if is_granted('ROLE_USER') %}  
                    <div  id="ajout-commentaire ">
                        <h4 class="">Ajouter votre commentaire</h4>
                            {{ form(commentForm) }}
                    </div>
                    {% else %}
                    <div class="card text-center ">
                        <div class="" id="ajout-commentaire">
                            <h4 class="mt-3">Envie de partager votre avis.<br> Connectez vous !</h4>
                        </div>
                        <div class="mt-3">
                            <a href="{{ path('app_register') }}" class="btn btn-success m-3">Inscription</a>
                            <a href="{{ path('app_login') }}" class="btn btn-primary m-3">Connection</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container comment">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h4>Les commentaires :</h4>
                </div>
                
                {% for comment in episode.comments %}
                    <div class="m-2 card col-lg-5 col-sm-10 text-center">
                        <p>Publié par <strong>{{ comment.users.pseudo }}</strong><br>Le {{ comment.createdAt | date("d/m/Y à H:i") }}</p>
                        <p class="">{{ comment.content | raw }}</p>
                        {# {% if is_granted('ROLE_USER') %}
                                <button id="btn-repondre"><a class="btn btn-success" href="#ajout-commentaire" data-reply data-id="{{ comment.id }}">Répondre</a></button>
                        {% endif %} #}
                    </div>
                {% endfor %}
                
            </div>
        </div>   
	</div>
{% endblock %}
{% block javascripts %}
    <script>
            const button = document.getElementById('btn-repondre');
            button.addEventListener('click', function handleClick() {
            console.log('element clicked');
            });
    </script>
{% endblock %}