{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
        <div class="card m-5" style="width: 25rem;">
            <img src="{{ episode.coverImage }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ episode.title }}</h5>
                <p class="card-text">{{ episode.introduction }}</p>
                <audio   class:"" controls preload="none">
                    <source src="{{ episode.audio }}">
                </audio>
                    <p class="card-text">{{ episode.content }}</p>
                </div>
        </div>
        </section>
    </main>
{% endblock %}