{% extends 'base.html.twig' %}

{% block body %}
	<div class="container show-episode">
		<div class="row justify-content-center">
			<div class="text-center mt-5">
				<h1>Les Episodes de l' apéro des papas manchots</h1>
				<h3 class="mt-5 mb-3">Des news, du geekage, du linux et de l'open source</h3>
			</div>
			{% for epi in episode %}
				{% set url = path ('episode_detail', {'slug': epi.slug}) %}
				{% set edit = path ('episode_edit', {'slug': epi.slug}) %}
				<div class="col-lg-5 border text-center m-3">
					<div class="">
						<div class="">
							<h3 class="card-title mt-3">{{ epi.title }}<h3>
						</div>
						<img src="{{ epi.coverImage }}" class="card-img-top" alt="logo-burger">
						<div>
							<p>{{ epi.introduction }}</p>
						</div>
						<div class="card-date">
							<time>Publié le :
								{{ epi.createdAt | date('d/m/Y') }}</time>
						</div>
						<div class="mt-3">
							<audio controls preload="none">
								<source src="{{ epi.audio }}">
							</audio>
						</div>
						<div class="card-btn">
							<a href="{{ url }}" class="btn-infos btn rounded-pill">Plus d'infos</a>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ edit }}" class="btn-edit btn rounded-pill">Modifier</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="pagination mt-5">
			{% do episode.setPageRange(2) %}
			{{ knp_pagination_render(episode, 'base/pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
