{% extends 'base.html.twig' %}

{% block body %}
	<body>
		<main class="container text-center">
			<div class="title-epi">
				<h1>Burger Tech</h1>
				<p>Un morceau de news, une tranche de hight-tech et quelques dés de what the fuck</p>
			</div>
			<section class="row justify-content-md-center">
				{% for epi in episode %}
					{% set url = path ('episode_detail', {'slug': epi.slug}) %}
					{% set edit = path ('episode_edit', {'slug': epi.slug}) %}
					<div class="card-index border">
						<div class="card-title">
							<h3 class="card-title mt-3">{{ epi.title }}<h3>
                        </div>
						<div>
							<img src="{{ epi.coverImage }}" class="card-img-top" alt="logo-burger">
						</div>
						<div class="card-body">
							<div>
								<p>{{ epi.introduction }}</p>
							</div>
							<div class="card-date">
								<time>Publié le :
									{{ epi.createdAt | date('d/m/Y') }}</time>
							</div>
							<div class="card-audio">
								<audio controls preload="none">
									<source src="{{ epi.audio }}">
								</audio>
							</div>
							<div class="card-btn">
								<a href="{{ url }}" class="btn-infos btn rounded-pill">Plus d'infos</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ edit }}" class="btn-edit btn rounded-pill">Modifier</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
					<div class="pagination">
						{% do episode.setPageRange(2) %}
						{{ knp_pagination_render(episode, 'base/pagination.html.twig') }}
					</div>
			</section>
		</main>
	</body>
{% endblock %}
